data
silkmain
DeDoDe-main
dedode_descriptor_B.pth
dedode_descriptor_G.pth
dedode_detector_L.pth
DeDoDe
dummy.ipynb
grayscale_to_rgb.py
create_DeDoDe_dataset copy.py
venv
test.py
**/.ipynb_checkpoints/
runs
__pycache__/
Visualisations
lightglue
LightGlue-main
old_fenics.py